<h1>AdminsPannel</h1>
<h3>Listings</h3>
<a href="/listings"></a> <!--refactor-->
<%= link_to 'View All Listings', listings_path %>
<%= link_to 'Create a new listing', new_listing_path %>
<%= link_to 'Logout', destroy_admin_session_path %>
