// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background: rgb(247, 247, 249);
}
/*.listing {
	width: 400px;
}*/
.panel {
	text-align: center;
}
.panel-footer {
	height: 65px;
	padding-right: 0;
}
.panel-footer * {
	display: inline;
}
.panel-footer h4 {
	color: red;
}
.panel-footer h2 {
	float: left;
	margin-top: 5px;
}
.panel a {
	color: black;
}
.status {
	float: left;
	width: 170px;
	display: block;
	text-align: center;
}
.panel-footer button {
	float: right;
	height: 65px;
	width: 65px;
	margin-top: -10px;
	border-radius: 0px 0px 4px 0px;
}

.navbar-form .form-control {
	width: 100px;
	margin-top: 8px;
/*	display: none;
*/}
#user_remember_me, .navbar-form label {
/*	display: none;
*/}


.navbar-brand {
	margin-top: 12px;
	font-size: xx-large;
}
.icon-legal {
	font-size: xx-large;
}

h4.navbar-text {
	margin-bottom: 0;
}
p.navbar-text {
	clear:both;
	margin: 0;
	padding-bottom:3px;
	margin-top: -5px;
	a {
		color: darkorange;
		text-decoration: none;
	}
}