<div class="navbar navbar-static-top">
	<a class="navbar-brand" href="/" style="color:black">LOCO<span style="color:darkorange">Bid</span></a>
</div>
<div class="container">
<h2 class="text-center" style="padding-top:70px;">Thanks <%= current_user.username.capitalize %>!<br>Your purchase has gone through!</h2>
</div>